* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: azure;
}

body {
  padding: 2%;
  background-image: url(./img/background1.png);
}

h1 {
  text-align: center;
}

button {
  height: 2em;
  width: 6em;
  color: azure;
  background-color: darkmagenta;
  box-shadow: 0 0.2em magenta;
  border-radius: 0.2em;
}

button:hover {
  cursor: pointer;
}

button:active {
  color: indigo;
  background-color: azure;
  box-shadow: 0 0.2em azure;
  transform: translateY(0.2em);
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#scores-head {
  display: flex;
  align-items: center;
  gap: 2em;
}

#score-table {
  display: flex;
  flex-direction: column;
}

#add-score {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#submit {
  position: relative;
  left: 50%;
}
